# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Venv
.venv/
venv/
env/

# YOLO runs & caches
runs/
Ultralytics/
*.pt.cache

# Ortam dosyaları
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testler / döküman
tests/
*.md
